@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@200&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background: url("./assets/images/background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}
.container{
  backdrop-filter: brightness(10%);
}
.search-bar{
  backdrop-filter: blur(4px) saturate(180%);
}
::placeholder{
  color: #cac7ff;
}
